{% extends 'base.html' %}

{% load thumbnail %}


{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm-10">
        <form method="get" action="{% url 'seeds:seeds' %}">
          <div class="hstack gap-3 mt-3">
            {{ search_form.seed_pattern }}
            <input type="submit" class="btn btn-outline-success" value="Найти">
            <div class="vr"></div>
					  <a type="button" class="btn btn-outline-secondary" href="{% url 'seeds:seeds' %}">Сброс</a>
          </div>
          {{ search_form.type }}
        </form>

        <div class="row row-cols-4 mb-3 mt-3">
					{% for seed in page_obj %}
						<div class="col mb-3">
							<div class="card border-success h-100">
								{% thumbnail seed.image "500x500" crop="center" upscale=True as im %}
									<img class="card-img " src="{{ im.url }}">
								{% endthumbnail %}
								<div class="card-body">
									<h5 class="card-title">{{ seed.name }}</h5>
									<p class="card-text">{{ seed.description|truncatechars:150 }}</p>
                  <div class="relative-bottom">
									  <a type="button" href="{% url 'seeds:seed' type=seed.type.translit name=seed.translit %}" class="btn btn-outline-success mt-3 card-link">Подробности</a>
                    <button type="button" class="btn btn-outline-primary mt-3 card-link" data-bs-toggle="modal" data-bs-target="#modal-2">
                      Связаться
                    </button>
                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="modal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content border-success">
                        <div class="modal-header">
                          <h5 class="modal-title">Заполните форму обратной связи</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form method="post" action="{% url 'seeds:seeds' %}">
                            {% csrf_token %}

                            {% for field in feedback_form %}
                              <label for="{{ field.id_for_label }}">
                                {{ field.label }}
                                {% if field.field.required %}
                                  <span class="required text-danger">*</span>
                                {% endif %}
                              </label>    
                              {{ field }}
                              {% if field.help_text %}
                                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                                  {{ field.help_text|safe }}
                                </small>
                              {% endif %}
                            {% endfor %}
              
                            <input type="submit" class="btn btn-outline-success card-link" value="Отправить">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

								</div>
							</div>
						</div>
					{% endfor %}
        </div>
				{% include 'seeds/includes/paginator.html' %}
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
{% endblock content %} 